<style>
  .columns {
    border: 1px solid dodgerblue;
  }
</style>

<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-4 large-4 columns first small-12 large-4 columns first"><table><tbody><tr><th>
      <center>Centered Text</center>
    </th></tr></tbody></table></th>
    <th class="small-4 large-4 columns small-12 large-4 columns"><table><tbody><tr><th>
      <center>Centered Text</center>
    </th></tr></tbody></table></th>
    <th class="small-4 large-4 columns last small-12 large-4 columns last"><table><tbody><tr><th>
      <center>Centered Text</center>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>

<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <p class="text-center">Centered Text</p>
      <h4 class="text-center">Centered Text</h4>
      <p class="text-right">Right Text</p>
      <h4 class="text-right">Right Text</h4>
      <p class="text-left">Left Text</p>
      <h4 class="text-left">Left Text</h4>
      <br>
      <p>Center on all clients</p>
      <center>
        <img src="http://placehold.co/200?text=center" alt align="center" class="float-center">
      </center>
      <br>
      <p>Center on all clients except Outlook 2007, 10, 13</p>
      <img class="float-center" src="http://placehold.co/200?text=center" alt>
      <img class="float-right" src="http://placehold.co/200?text=right" alt>
      <img class="float-left" src="http://placehold.co/200?text=left" alt>
      
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>

<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="row"><tbody><tr>
        <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
        <p>Center on all (nested columns)</p>
          <center>
            <img src="http://placehold.co/200?text=center" alt align="center" class="float-center">
          </center>
        </th>
<th class="expander"></th></tr></tbody></table></th>
      </tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>

<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="row"><tbody><tr>
        <th class="small-6 large-6 columns first"><table><tbody><tr><th>
          <p>Center on all (nested columns)</p>
          <center>
            <img src="http://placehold.co/200?text=center" alt align="center" class="float-center">
          </center>
        </th></tr></tbody></table></th>
        <th class="small-6 large-6 columns last"><table><tbody><tr><th>
          <p>Center on all (nested columns)</p>
          <center>
            <img src="http://placehold.co/200?text=center" alt align="center" class="float-center">
          </center>
        </th></tr></tbody></table></th>
      </tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>

<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-4 large-4 columns first"><table><tbody><tr><th></th></tr></tbody></table></th>
    <th class="small-4 large-4 columns"><table><tbody><tr><th>Centering a column</th></tr></tbody></table></th>
    <th class="small-4 large-4 columns last"><table><tbody><tr><th></th></tr></tbody></table></th>
  </tr></tbody></table>

  <center>
    <table class="button float-center"><tbody><tr><td><table><tbody><tr><td><a align="center" href="#">Center</a></td></tr></tbody></table></td></tr></tbody></table>
  </center>

  <table class="row"><tbody><tr>
    <th class="small-6 large-6 columns first"><table><tbody><tr><th>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae error nam, sequi culpa deleniti aperiam saepe, similique laborum corrupti vitae iste mollitia reiciendis corporis qui, quae possimus eos quidem nostrum.</p>
      <center>
        <table class="button float-center"><tbody><tr><td><table><tbody><tr><td><a align="center" href="#">Center</a></td></tr></tbody></table></td></tr></tbody></table>
      </center>
    </th></tr></tbody></table></th>
    <th class="small-6 large-6 columns last"><table><tbody><tr><th>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae error nam, sequi culpa deleniti aperiam saepe, similique laborum corrupti vitae iste mollitia reiciendis corporis qui, quae possimus eos quidem nostrum.</p>
      <center>
        <table class="button float-center"><tbody><tr><td><table><tbody><tr><td><a align="center" href="#">Center</a></td></tr></tbody></table></td></tr></tbody></table>
      </center>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-4 columns first"><table><tbody><tr><th>
      <table class="callout"><tbody><tr><th class="callout-inner">
        <h3 class="small-text-center">Presentations<span>8</span></h3>
        <table class="spacer"><tbody><tr><td height="35" style="font-size:35px;line-height:35px;">&nbsp;</td></tr></tbody></table> 
        <center>
          <img src="http://placehold.co/74x50" align="center" class="float-center">
        </center>
        <table class="spacer"><tbody><tr><td height="40" style="font-size:40px;line-height:40px;">&nbsp;</td></tr></tbody></table> 
      </th><th class="expander"></th></tr></tbody></table>
    </th></tr></tbody></table></th>
    <th class="small-12 large-8 columns last"><table><tbody><tr><th>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sapiente quis at fuga reprehenderit, velit iure fugiat debitis repellat assumenda perspiciatis? Commodi minus labore sit dolorem reprehenderit eveniet porro asperiores.</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="button success"><tbody><tr><td><table><tbody><tr><td><a href="https://litmus.com/checklist/emails/public/120ca5f">Passing Tests</a></td></tr></tbody></table></td></tr></tbody></table>

</td></tr></tbody></table>
