<table align="center" class="container"><tbody><tr><td>
  <table class="row collapse"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
     <h1>Testing to see if nasty phone and iOS links can be removed.</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum voluptates placeat laudantium, nihil minus commodi incidunt <a href="tel:1-408-555-5555">513-555-5555</a> magni, accusamus vitae nemo? Sit, minima. Dolorem nisi quaerat voluptatum nobis, numquam saepe hic. 123 locust st santa cruz, ca 95060</p>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>