<table align="center" class="container"><tbody><tr><td>
  
  <table class="spacer"><tbody><tr><td height="32" style="font-size:32px;line-height:32px;">&nbsp;</td></tr></tbody></table> 

  the row should have dir="rtl"
  <table dir="rtl" class="row"><tbody><tr>
    <th class="small-12 large-4 columns first" valign="middle" align="center"><table><tbody><tr><th>
      <img class="small-float-center" src="http://placehold.it/300x200/345" alt>
    </th></tr></tbody></table></th>
    <th class="small-12 large-8 columns last"><table><tbody><tr><th>
      <h4>HEADLINE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta aliquam dolor error nisi, dolorum rem voluptatem placeat temporibus eveniet vel distinctio!</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-4 columns first" valign="middle"><table><tbody><tr><th>
      <img class="small-float-center" src="http://placehold.it/300x200/621" alt>
    </th></tr></tbody></table></th>
    <th class="small-12 large-8 columns last"><table><tbody><tr><th>
      <h4>HEADLINE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, soluta aliquam dolor error nisi, dolorum rem voluptatem placeat temporibus eveniet vel distinctio!</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  the row should have dir="rtl", the columns should have valign and align attributes

  <table dir="rtl" class="row"><tbody><tr>
    <th class="small-12 large-4 columns first" valign="middle" align="center"><table><tbody><tr><th>
      <img class="small-float-center" src="http://placehold.it/250/349" alt>
    </th></tr></tbody></table></th>
    <th class="small-12 large-8 columns last" valign="middle" align="center"><table><tbody><tr><th>
      <h4 style="margin-bottom: 0;" class="text-right">HEADLINE</h4>
      <p style="margin-bottom: 0;" class="text-right subheader">SUBHEADLINE</p>
    </th></tr></tbody></table></th> 
  </tr></tbody></table> 

  the items should have target="_blank"
  <center>
    <table align="center" class="menu float-center"><tbody><tr><td><table><tbody><tr>
      <th class="menu-item float-center"><a href="http://get.foundation" target="_blank">Item</a></th>
      <th class="menu-item float-center"><a href="http://get.foundation" target="_blank">Item</a></th>
      <th class="menu-item float-center"><a href="http://get.foundation" target="_blank">Item</a></th>
    </tr></tbody></table></td></tr></tbody></table>
  </center>
</td></tr></tbody></table>
