<style>
  .block-grid p {
    background: dodgerblue;
    text-align: center !important;
    color: white !important;
  }
</style>

<table align="center" class="container"><tbody><tr><td>
  <table class="block-grid up-2"><tbody><tr>
    <td><p>one</p></td>
    <td><p>two</p></td>
  </tr></tbody></table>
  <table class="block-grid up-3"><tbody><tr>
    <td><p>one</p></td>
    <td><p>two</p></td>
    <td><p>three</p></td>
  </tr></tbody></table>
  <table class="block-grid up-4"><tbody><tr>
    <td><p>one</p></td>
    <td><p>two</p></td>
    <td><p>three</p></td>
    <td><p>four</p></td>
  </tr></tbody></table>
  <table class="block-grid up-5"><tbody><tr>
    <td><p>one</p></td>
    <td><p>two</p></td>
    <td><p>three</p></td>
    <td><p>four</p></td>
    <td><p>five</p></td>
  </tr></tbody></table>
</td></tr></tbody></table>