<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="button hollow"><tbody><tr><td><table><tbody><tr><td><a href="#">Default Hollow</a></td></tr></tbody></table></td></tr></tbody></table>
      <table class="button hollow round secondary"><tbody><tr><td><table><tbody><tr><td><a href="#">Secondary Hollow</a></td></tr></tbody></table></td></tr></tbody></table>
      <table class="button hollow radius success"><tbody><tr><td><table><tbody><tr><td><a href="#">Success Hollow</a></td></tr></tbody></table></td></tr></tbody></table>
      <table class="button hollow warning"><tbody><tr><td><table><tbody><tr><td><a href="#">Warning Hollow</a></td></tr></tbody></table></td></tr></tbody></table>
      <table class="button hollow alert expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">Alert Hollow</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>
