<table align="center" class="container"><tbody><tr><td>
  <p>Text should be centered</p>
  <p>hover on buttons should change pointer full width of button</p>
  <p>on small, should work the same</p>
  <table class="row"><tbody><tr>
    <th class="small-12 large-6 columns first"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">button</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
    <th class="small-12 large-6 columns last"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">example text 2</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-6 large-6 columns first"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">button</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
    <th class="small-6 large-6 columns last"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">example text 2</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-3 columns first"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">button</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
    <th class="small-12 large-9 columns last"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">example text 2</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-4 columns first"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">button</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
    <th class="small-12 large-8 columns last"><table><tbody><tr><th>
      <table class="button expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">example text 2</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-4 large-4 columns first"><table><tbody><tr><th>
      <table class="button small expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">button</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
    <th class="small-6 large-8 columns last"><table><tbody><tr><th>
      <table class="button small expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="#" align="center" class="float-center">example text 2</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="callout"><tbody><tr><th class="callout-inner secondary">
    <table class="row"><tbody><tr>
      <th class="small-12 large-6 columns first"><table><tbody><tr><th>
        <h5>Connect With Us:</h5>
        <table class="button facebook expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="http://get.foundation" align="center" class="float-center">Facebook</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
        <table class="button twitter expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="http://get.foundation" align="center" class="float-center">Twitter</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
        <table class="button google expanded"><tbody><tr><td><table><tbody><tr><td><center><a href="http://get.foundation" align="center" class="float-center">Google+</a></center></td></tr></tbody></table></td>
<td class="expander"></td></tr></tbody></table>
      </th></tr></tbody></table></th>
      <th class="small-12 large-6 columns last"><table><tbody><tr><th>
        <h5>Contact Info:</h5>
        <p>Phone: 408-341-0600</p>
        <p>Email: <a href="mailto:foundation@get.foundation">foundation@get.foundation</a></p>
      </th></tr></tbody></table></th>
    </tr></tbody></table>
  </th><th class="expander"></th></tr></tbody></table>
  <em>Make sure the above container is not greater than 600px or looks awkwardly too wide.</em>
</td></tr></tbody></table>

