
Test for image that shrinks in Outlook 2000, 2002, 2003. This is caused by the use of the .expander
<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="large-offset-1 small-12 large-3 columns first"><table><tbody><tr><th>
      <img class="small-float-center" src="http://placehold.co/200?text=small-center" alt="please don't forget me">
    </th></tr></tbody></table></th>
    <th class="small-12 large-8 columns last"><table><tbody><tr><th>
      <h4 class="small-text-center">What is the deal?</h4>
      <p class="small-text-center">Sweet beast sun bathe or chase mice rub face on everything or leave dead animals as gifts for mark territory play time.</p>
    </th></tr></tbody></table></th>  
  </tr></tbody></table>
</td></tr></tbody></table>

Make sure no expander is created in this table
<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <h4 class="small-text-center">What is the deal?</h4>
      <p class="small-text-center">Sweet beast sun bathe or chase mice rub face on everything or leave dead animals as gifts for mark territory play time.</p>
    </th></tr></tbody></table></th>  
  </tr></tbody></table>
</td></tr></tbody></table>