


<table class="wrapper header" align="center"><tbody><tr><td class="wrapper-inner">
  <table class="spacer"><tbody><tr><td height="16" style="font-size:16px;line-height:16px;">&nbsp;</td></tr></tbody></table> 
  <center>
    <table align="center" class="container header-container float-center"><tbody><tr><td>
      <table class="row collapse"><tbody><tr>
        <th class="small-6 large-6 columns first" valign="middle"><table><tbody><tr><th>
          <img src="http://placehold.it/200x50/663399">
        </th></tr></tbody></table></th>
        <th class="small-6 large-6 columns last" valign="middle" style="table-layout: fixed;"><table><tbody><tr><th>
          <p class="text-right">BASIC</p>
        </th></tr></tbody></table></th>
      </tr></tbody></table>
    </td></tr></tbody></table>
  </center>
  <table class="spacer"><tbody><tr><td height="16" style="font-size:16px;line-height:16px;">&nbsp;</td></tr></tbody></table> 
</td></tr></tbody></table>


<table align="center" class="container"><tbody><tr><td>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error atque, tempore illo nobis. Iure delectus eveniet ut, eaque molestias necessitatibus dicta, eos quidem ex maxime neque quae, fugiat temporibus amet.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nisi error, labore porro reiciendis est, voluptate quasi exercitationem ad sed, odio, rem quos nostrum beatae consequatur. Velit accusantium, quo alias!</p>
</td></tr></tbody></table>


