<table align="center" class="container"><tbody><tr><td>

  <table class="row feature-list"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>

      <h4>Feature Stories</h4>

      <table class="row feature-list-item"><tbody><tr>
        <th class="hide-for-small small-12 large-2 columns first"><table><tbody><tr><th>
          <img height="40" width="40" src="http://get.foundation/stickers/images/intro-foundation.png" alt>
        </th></tr></tbody></table></th>
        <th class="small-12 large-10 columns last"><table><tbody><tr><th>
          <h6 class="feature-list-item-header"><a href="#">I realize this is actually a serious technique, but...</a></h6>
          <p class="feature-list-item-info">Barb E. Dahl</p>
        </th></tr></tbody></table></th>
      </tr></tbody></table>

      <table class="row feature-list-item"><tbody><tr>
        <th class="hide-for-small small-12 large-2 columns first"><table><tbody><tr><th>
          <img class="feature-list-image" height="40" width="40" src="http://get.foundation/stickers/images/intro-foundation.png" alt>
        </th></tr></tbody></table></th>
        <th class="small-12 large-10 columns last"><table><tbody><tr><th>
          <h6 class="feature-list-item-header"><a href="#">21 Ways to Dominate Rat Hearding</a></h6>
          <p class="feature-list-item-info">Oren Jellow</p>
        </th></tr></tbody></table></th>
      </tr></tbody></table>

      <table class="row feature-list-item"><tbody><tr>
        <th class="hide-for-small small-12 large-2 columns first"><table><tbody><tr><th>
          <img class="feature-list-image" height="40" width="40" src="http://get.foundation/stickers/images/intro-foundation.png" alt>
        </th></tr></tbody></table></th>
        <th class="small-12 large-10 columns last"><table><tbody><tr><th>
          <h6 class="feature-list-item-header"><a href="#">10 Steps To Successfully Outsourcing Your Your Counciousness</a></h6>
          <p class="feature-list-item-info">Kandi Apple</p>
        </th></tr></tbody></table></th>
      </tr></tbody></table>

      <table class="row feature-list-item"><tbody><tr>
        <th class="hide-for-small small-12 large-2 columns first"><table><tbody><tr><th>
          <img class="feature-list-image" height="40" width="40" src="http://get.foundation/stickers/images/intro-foundation.png" alt>
        </th></tr></tbody></table></th>
        <th class="small-12 large-10 columns last"><table><tbody><tr><th>
          <h6 class="feature-list-item-header"><a href="#">How to Have a Healthier and More Productive Pancake Breakfast</a></h6>
          <p class="feature-list-item-info">Les Moore</p>
        </th></tr></tbody></table></th>
      </tr></tbody></table>
      
    </th></tr></tbody></table></th>
  </tr></tbody></table>

</td></tr></tbody></table>