<table align="center" class="container"><tbody><tr><td>
 centered menu
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <center>
        <table align="center" class="menu float-center"><tbody><tr><td><table><tbody><tr>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
        </tr></tbody></table></td></tr></tbody></table>
      </center>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
  vertical centered menu
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <center>
        <table align="center" class="menu vertical float-center"><tbody><tr><td><table><tbody><tr>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
          <th class="menu-item float-center"><a href="http://get.foundation">Item</a></th>
        </tr></tbody></table></td></tr></tbody></table>
      </center>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
  vertical on small centered menu
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <center>
        <table align="center" class="menu small-vertical float-center"><tbody><tr><td><table><tbody><tr>
          <th class="menu-item float-center"><a href="#">Item 1</a></th>
          <th class="menu-item float-center"><a href="#">Item 2</a></th>
          <th class="menu-item float-center"><a href="#">Item 3</a></th>
        </tr></tbody></table></td></tr></tbody></table>
      </center>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
  left aligned menu
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="menu"><tbody><tr><td><table><tbody><tr>
        <th class="menu-item"><a href="http://get.foundation">Item</a></th>
        <th class="menu-item"><a href="http://get.foundation">Item</a></th>
        <th class="menu-item"><a href="http://get.foundation">Item</a></th>
        <th class="menu-item"><a href="http://get.foundation">Item</a></th>
      </tr></tbody></table></td></tr></tbody></table>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>
