

<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <p>Offset columns should correctly align with the gutters of standard columns.</p>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="small-12 large-1 columns first"><table><tbody><tr><th>
      <p>1 of 12</p>
    </th></tr></tbody></table></th>
    <th class="small-12 large-11 columns last"><table><tbody><tr><th>
      <p>11 of 12</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="large-offset-1 small-12 large-1 columns first"><table><tbody><tr><th>
      <p>Offset 1 of 12</p>
    </th></tr></tbody></table></th>
    <th class="small-12 large-10 columns last"><table><tbody><tr><th>
      <p>10 of 12</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="small-12 large-2 columns first"><table><tbody><tr><th>
      <p>2 of 12</p>
    </th></tr></tbody></table></th>
    <th class="small-12 large-10 columns last"><table><tbody><tr><th>
      <p>10 of 12</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="small-offset-4 large-offset-2 small-4 large-2 columns first"><table><tbody><tr><th>
      <p>Offset 2 of 12</p>
    </th></tr></tbody></table></th>
    <th class="small-4 large-8 columns last"><table><tbody><tr><th>
      <p>9 of 12</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>
