<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-8 columns first"><table><tbody><tr><th>
      <h2>This is a title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam at, nihil quas harum mollitia dolores odio. Inventore delectus nihil soluta quos, magni doloribus, voluptas aspernatur explicabo atque perspiciatis possimus voluptates.</p>
      <p><a href="#">Learn more</a></p>
    </th></tr></tbody></table></th>
    <th class="test small-12 large-4 columns last"><table><tbody><tr><th>
      <img src="http://placehold.co/170x129" alt>
    </th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>
