<table align="center" class="container"><tbody><tr><td>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error atque, tempore illo nobis. Iure delectus eveniet ut, eaque molestias necessitatibus dicta, eos quidem ex maxime neque quae, fugiat temporibus amet.</p>
  <table class="spacer"><tbody><tr><td height="32" style="font-size:32px;line-height:32px;">&nbsp;</td></tr></tbody></table> 
  <img src="http://placehold.it/32" alt>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nisi error, labore porro reiciendis est, voluptate quasi exercitationem ad sed, odio, rem quos nostrum beatae consequatur. Velit accusantium, quo alias!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error atque, tempore illo nobis. Iure delectus eveniet ut, eaque molestias necessitatibus dicta, eos quidem ex maxime neque quae, fugiat temporibus amet.</p>
  <table class="spacer"><tbody><tr><td height="66" style="font-size:66px;line-height:66px;">&nbsp;</td></tr></tbody></table> 
  <img src="http://placehold.it/66" alt>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nisi error, labore porro reiciendis est, voluptate quasi exercitationem ad sed, odio, rem quos nostrum beatae consequatur. Velit accusantium, quo alias!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error atque, tempore illo nobis. Iure delectus eveniet ut, eaque molestias necessitatibus dicta, eos quidem ex maxime neque quae, fugiat temporibus amet.</p>
  <table class="spacer"><tbody><tr><td height="99" style="font-size:99px;line-height:99px;">&nbsp;</td></tr></tbody></table> 
  <img src="http://placehold.it/99" alt>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nisi error, labore porro reiciendis est, voluptate quasi exercitationem ad sed, odio, rem quos nostrum beatae consequatur. Velit accusantium, quo alias!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error atque, tempore illo nobis. Iure delectus eveniet ut, eaque molestias necessitatibus dicta, eos quidem ex maxime neque quae, fugiat temporibus amet.</p>
  <table class="spacer"><tbody><tr><td height="120" style="font-size:120px;line-height:120px;">&nbsp;</td></tr></tbody></table> 
  <img src="http://placehold.it/120" alt>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nisi error, labore porro reiciendis est, voluptate quasi exercitationem ad sed, odio, rem quos nostrum beatae consequatur. Velit accusantium, quo alias!</p>
</td></tr></tbody></table>

https://litmus.com/checklist/emails/public/e6d9076