<table align="center" class="container"><tbody><tr><td>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <center>
        <img src="http://placehold.it/800x300" alt class="thumbnail float-center" align="center">
      </center>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <center>
        <img src="http://placehold.it/300x300" alt class="thumbnail float-center" align="center">
      </center>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>
  watch out for smacing issues on the full width thumbnails. The right side spacing should match left.
  <table class="row"><tbody><tr>
    <th class="small-6 large-6 columns first"><table><tbody><tr><th>
      <img src="http://placehold.it/300x300" alt class="thumbnail">
    </th></tr></tbody></table></th>
    <th class="small-6 large-6 columns last"><table><tbody><tr><th>
      <img src="http://placehold.it/300x300" alt class="thumbnail">
    </th></tr></tbody></table></th>
  </tr></tbody></table>
  <table class="row"><tbody><tr>
    <th class="small-12 large-6 columns first"><table><tbody><tr><th>
      <img src="http://placehold.it/300x300" alt class="thumbnail">
    </th></tr></tbody></table></th>
    <th class="small-12 large-6 columns last"><table><tbody><tr><th>
      <img src="http://placehold.it/300x300" alt class="thumbnail">
    </th></tr></tbody></table></th>
  </tr></tbody></table>
</td></tr></tbody></table>
