<table align="center" class="container"><tbody><tr><td>

  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <h4 class="text-center">furry friends</h4>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-6 large-4 columns first"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">name</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="small-6 large-4 columns"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">name</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="show-for-large small-6 large-4 columns last"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">show large</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-6 large-4 columns first"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">name</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="small-6 large-4 columns"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">name</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="show-for-large small-6 large-4 columns last"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">show large</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-6 large-4 columns first"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">name</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="small-6 large-4 columns"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">name</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="show-for-large small-6 large-4 columns last"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">show large</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row hide-for-large"><tbody><tr>
    <th class="small-6 large-6 columns first"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">show small</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
    <th class="small-6 large-6 columns last"><table><tbody><tr><th>
      <img align="center" class="float-center" src="http://placehold.it/120" alt="image of a cute kitty">
      <p class="text-center">show small</p>
      <p class="text-center">age</p>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="callout"><tbody><tr><th class="callout-inner primary">
        <h1>Show on all</h1>
        <p>Calling all cars</p>
        <p>Calling all cars</p>
        <p>Calling all cars</p>
      </th><th class="expander"></th></tr></tbody></table>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="callout"><tbody><tr><th class="callout-inner primary hide-for-large">
        <h1>Hide for Large</h1>
        <p>Calling all cars</p>
        <p>Calling all cars</p>
        <p>Calling all cars</p>
      </th><th class="expander"></th></tr></tbody></table>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
      <table class="callout"><tbody><tr><th class="callout-inner primary show-for-large">
        <h1>Show for Large</h1>
        <p>Calling all cars</p>
        <p>Calling all cars</p>
        <p>Calling all cars</p>
      </th><th class="expander"></th></tr></tbody></table>
    </th>
<th class="expander"></th></tr></tbody></table></th>
  </tr></tbody></table>

  <table class="callout"><tbody><tr><th class="callout-inner hide-for-large primary">
    <p>This callout will only appear on small screens.</p>
  </th><th class="expander"></th></tr></tbody></table>

  <table class="callout"><tbody><tr><th class="callout-inner show-for-large alert">
    <p>This callout will only appear on large screens.</p>
  </th><th class="expander"></th></tr></tbody></table>


  <table class="row callout"><tbody><tr>
    <th class="small-6 large-4 columns first"><table><tbody><tr><th>
      <p class="hide-for-large">Show for small</p>
      <p class="show-for-large">Show for large</p>
    </th></tr></tbody></table></th>
    <th class="small-6 large-4 columns last"><table><tbody><tr><th>
      <table class="button hide-for-large"><tbody><tr><td><table><tbody><tr><td>show small</td></tr></tbody></table></td></tr></tbody></table>
      <table class="button show-for-large"><tbody><tr><td><table><tbody><tr><td>show large</td></tr></tbody></table></td></tr></tbody></table>
    </th></tr></tbody></table></th>
  </tr></tbody></table>

</td></tr></tbody></table>